@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-mode{
    background-color: rgb(1, 1, 31);
    color: black;
}
.light-mode{
    background-color: rgb(1, 1, 31);
    color: white;
}

body, html{
    min-height: 100vh;
    max-width: 100vw;
    position: relative;   
    overflow: hidden;
}
.follow{
    height: 3vh;
    width: 1.5vw;
    border-radius: 50%;
    background-color: chartreuse;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    display: none;
}

.first-main{
    height: 100vh;
    width: 100vw;
    display: flex;
    
}

.first-left-main{
    height: 100%;
    width: 50%;
    background-color: rgb(1, 1, 31);
    color: white;
}
.first-right-main{
    height: 100%;
    width: 50%;
    background: url("./img/2girl.png");
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 999;
}
.first-right-main div{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.447), rgba(0, 0, 0, 0.781));
    position: absolute;
}
#mode img{
    height: 3vh;
    width: 1.5vw;
    object-fit: cover;
}
#mode{
    height: 8.6vh;
    width: 4vw;
    border: none;
    background-color:chocolate;
    padding: 1vh 0.8vw;
    border-radius: 50%;
    position: fixed;
    top: 4%;
    right: 3%;
    border: 0.1vh solid rgba(255, 255, 255, 0.861);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
    overflow: hidden;
}
#mode:hover{
    border-color: rgb(51, 0, 255);
}

.first-left-main-top{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    padding: 0 3.5vw;
    align-items: center;
    flex-direction: row;
}
.first-left-main-top div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.first-left-main-top div span{
    display: inline-block;
    padding: 0.5vh 0.4vw;
    border: 0.2vh solid white;
    border-radius: 50%;
    margin-right: 0.3vw;
    font-size: 2.3vh;

}
.btns{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}
.btns button{
    border: none;
    padding: 2.7vh 2.1vw;
    border: 0.2vh solid white;
    border-radius: 8vh;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 2.5vh;
    position: relative;
    overflow: hidden;
    transition: color 0.4s, border-color 0.4s;
    z-index: 1;
}

.btns i{
    display: none;
}

button:hover {
    color: white;
    border-color: #3700b3;
    overflow: hidden;
}
  
button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 160%;
    bottom: -160%;
    left: 0;
    background: #6200ea;
    transition: bottom 1s;
    z-index: -1;
    border-radius: 70%;
  }
  
button:hover::before {
    bottom: -30%;
}
  

.intro {
    width: 100%;
    height: 60%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2vh 3.5vw;
}

.intro h1{
    display: block;
    font-size: 5vw;
    height: 15vh;
    line-height: 90%;
}
.intro h1 span{
    display: inline-block;
    color:darkcyan;
}

#type{
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 2s steps(10) 1s infinite alternate-reverse;
    border-right: 4px solid white;
}
@keyframes typewriter {
    from {
        width: 0%;
    }

    to {
        width: 72%;
    }
}


.first-left-main-bottom{
    width: 100%;
    height: 20%;
    padding: 4vh 3.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contact-me{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 57%;
}
.social-account{
    height: 100%;
    width: 43%;
    display: flex;
    flex-direction: row;
    color: rgba(255, 255, 255, 0.655);
    font-size: 4vh;
    display: flex;
    justify-content: end;
    align-content: center;
    padding: 4vh 2vw;
}
.social-account i{
    height: 8.6vh;
    width: 4vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.655);;
}
.social-account a{
    text-decoration: none;
}

.social-account i:hover{
    background-color: rgba(19, 25, 71, 0.564);
    border-radius: 50%;
}

.first-left-main-bottom h1{
    font-size: 6vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
     
}
.first-left-main-bottom button{
    border: none;
    padding: 1vh 2.1vw;
    border: 0.2vh solid white;
    border-radius: 8vh;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.854);
    cursor: pointer;
    font-size: 6vh;
    position: relative;
    overflow: hidden;
    transition: color 0.4s, border-color 0.4s;
    z-index: 1;
}


.second-main{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    /* position: absolute; */
}

.second-left-main{
    width: 50%;
    height: 100vh;
    /* min-height: 100vh; */
    background: url('./img/pic2.jpg');
    background-position:contain;
    background-size: cover;
    z-index: 999;
    /* position: absolute; */
}
.second-right-main{
    width: 50%;
    min-height: 100%;
    background-color: rgb(1, 1, 31);
    color: white;
    padding: 8vh 4vw;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-color: darkcyan transparent;
    scrollbar-width: thin;  
    position: relative;

}

.second-right-main div button{
    filter: contrast(200%);
    height: 9vh;
    width: 11vw;
    border: none;
    padding: 1vh 2.1vw;
    border: 0.2vh solid white;
    border-radius: 8vh;
    backdrop-filter: blur(15px);
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 2.6vh;
    position: relative;
    overflow: hidden;
    transition: color 0.4s, border-color 0.4s;
    z-index: 5;
    margin: 2vh 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1vw;
}
#btn-container{
    position: absolute;
    top: 2%;
    left: 5%;
    z-index: 5;
}
.second-right-main p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    margin-top: 20vh;
    font-weight: 600;
    margin-bottom: 7vh;

}
  
.second-right-main  h1{
    display: inline;
    font-size: 4vw;
    height: 13vh;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#first-heading{
    color:darkcyan;
}
#detail{
    display: inline-block;
    margin-top: 4vh;
    font-size: 4vh;
}

.second-right-main h2{
    display: inline-block;
    color:darkcyan;
    font-size: 3.5vw;
    margin-top: 4vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen;
    border-bottom: 1vh double darkcyan;
}

.skills-boxes{
    margin: 10vh 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vh;
    margin-left: 3vw;
}

.box{
font-family: Arial, Helvetica, sans-serif;
 height: 20vh;
 width: 9vw;
 border: 0.2vh solid white;
 font-size: 1.9vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 2vh;
 border-radius: 8vh;
 /* box-shadow: 0 0 1vh 0.5vh rgba(255, 255, 255, 0.5); */
 box-shadow: inset 0 0 3vh 0.5vh rgba(255, 255, 255, 0.5);
 background-color: rgba(192, 192, 192, 0.189);
 font-weight: 600;

}

.box img{
    z-index: 0;
    height: 5vh;
    width: 30%;
    object-fit: cover;
}


.skills-percentage div{
    padding: 7vh 3vw;
    height: 12vh;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.354);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6vh;
    font-weight: 600;
}

.skills-percentage div:last-child{
    border-bottom: 1px solid rgba(255, 255, 255, 0.354);
}

.third-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.third-left-main{
    width: 50%;
    height: 100%;
    background: url('./img/3girl.png');
    background-position: center;
    background-size: cover;
    z-index: 999;
}
.third-right-main{
    width: 50%;
    height: 100%;
    background-color: rgb(1, 1, 31);
    position: relative;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-color: darkcyan transparent;
    scrollbar-width: thin;  
    overflow-x: hidden;
}

.third-right-main #btn-container2 div{
    filter: contrast(200%);
    height: 9vh;
    width: 11vw;
    border: none;
    padding: 1vh 2.1vw;
    border: 0.2vh solid white;
    border-radius: 8vh;
    backdrop-filter: blur(15px);
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 2.6vh;
    overflow: hidden;
    transition: color 0.4s, border-color 0.4s;
    z-index: 5;
    margin: 2vh 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1vw;
}

#btn-container2{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 2%;
    left: 5%;
    z-index:5;
}


.third-right-main #btn-container2 div:hover {
    color: white;
    border-color: #3700b3;
    overflow: hidden;
}
  
.third-right-main #btn-container2 div::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 160%;
    bottom: -160%;
    left: 0;
    background: #6200ea;
    transition: bottom 1s;
    z-index: -1;
    border-radius: 70%;
  }
  
.third-right-main #btn-container2 div:hover::before {
    bottom: -30%;
}

.third-right-main h1{
    font-size: 4vw;
    height: 13vh;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkcyan;
    /* border-bottom: 1vh double darkcyan; */
    display: inline;
    display: flex;
    flex-direction: row;
    align-items: center;
}


#h1-container h1 i{
    margin-left: 1vw;
    color: yellow;
    font-size: 6vh;
    animation: rotation 2s linear infinite;
}
@keyframes rotation{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.third-right-main #h1-container{
    margin-top: 20vh;
    margin-left: 3vw;
}
.project-container{
    width: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
    scrollbar-color: darkcyan transparent;
    scrollbar-width: thin;  
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    margin-left: 3vw;
    margin-top: 10vh;
    margin-bottom: 8vh;
}

.project{
    height: 63vh;
    width: 21vw;
    border: 1px solid white;
    color: #430A5D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3vh;
    padding: 3.5vh 1vw;
    border-radius: 3vh;
    background-color: #FFFA8D;
    text-align: center;
    box-shadow: 0.5vh 0.5vh 1vh rgba(255, 255, 255, 0.418);
}

.project:hover{
    background-color: #f7eebc; 
    color: black;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 3vh 0.5vh rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
    /* /* f7eebc /* */
}

.project img{
    height: 30vh;
    width: 19vw;
    /* object-fit: cover; */
    /* border-radius: 2vh; */
    box-shadow: 2px 2px 2px rgb(68, 67, 67);
    border-radius: 2vh;
}

.project-detail h2{
    margin-top: 2vh;
    font-size: 3.8vh;
    font-weight: 800;
    text-shadow: 1px 1px 2px rgb(244, 242, 242);
}
.project-detail p{
    margin-top: 1vh;
    color: #732255;
    font-weight: 600;
}

.fourth-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.fourth-left-main{
    width: 50%;
    height: 100%;
    background-color: #309898;
    padding: 7vh 4vw;
    font-family: Arial, Helvetica, sans-serif;
    /* #C8F436 */
}

.fourth-left-main h2{
    font-size: 3.6vw;
    font-family: "Tagesschrift", system-ui;
}

.fourth-left-main h2 i{
    color: crimson;
}

.fourth-left-main label{
    font-size: 1.8vw;
    display: block;
    margin-top: 5vh;
    font-weight: 600;
    color: #FF9F00;
    font-family: "Tagesschrift", system-ui;
    font-style: normal;
    text-shadow: 0.2vh 0.2vh 0.2vh #000;

}
.fourth-left-main input{
    width: 100%;
    height: 5vh;
    border: none;
    padding: 1vh 2.1vw;
    border: 0.2vh solid white;
    border-radius: 8vh;
    backdrop-filter: blur(15px);
    background-color: transparent;
    color: white;
    font-size: 2.6vh;
    margin-top: 2vh;
    text-shadow: 0.2vh 0.2vh 0.2vh #000;

}

.fourth-left-main input::placeholder{
    color: white;
    font-size: 2.6vh;
    text-shadow: 0 0 0 #fff;
}

.fourth-left-main textarea{
    width: 100%;
    height: 20vh;
    border: none;
    padding: 1vh 2.1vw;
    border: 0.2vh solid white;
    border-radius: 8vh;
    backdrop-filter: blur(15px);
    background-color: transparent;
    color: white;
    font-size: 2.6vh;
    margin-top: 2vh;
    text-shadow: 0.2vh 0.2vh 0.2vh #000;
}

textarea::placeholder{
    color: white;
    font-size: 2.6vh;
    text-shadow: 0 0 0 #fff;
    text-align: center;
}

.fourth-left-main button{
    border: none;
    padding: 1vh 2.1vw;
    border: 0.2vh solid white;
    border-radius: 8vh;
    backdrop-filter: blur(15px);
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 2.6vh;
    position: relative;
    overflow: hidden;
    transition: color 0.4s, border-color 0.4s;
    z-index: 5;
    margin-top: 4vh;
    margin-left: 1vw;
}

.form{
    margin-top: 4vh;
}

#contact-goto{
margin-left: 20vw;
height: 8vh;
}

.fourth-right-main{
    width: 50%;
    height: 100%;
    background: url('./img/realbuilding.png');
    background-position: bottom;
    background-size:cover;
    z-index: 999;
}
.fourth-right-main > div{
    height: 100%;
    width: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.799));
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5vh;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-detail h1{
font-size: 1.4vw;
margin-bottom: 2vh;
}
.contact-detail h1 i{
    margin-right: 1vw;
}
.contact-detail p{
font-size: 0.8vw;
text-align: start;
width: 14vw;
display: flex;
align-items: center;
justify-content: center;
margin-left: 19vw;
}

.contact-detail:nth-child(1) p{
    margin-left: 23vw;
}
.contact-detail:nth-child(3) p{
    margin-left: 21vw;
}
.contact-detail:nth-child(3) h1{
    margin-right: 2vw;
}

.red{
    color: #E55050;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-shadow: 1px 1px 2px #000;
}
.green{
    color: greenyellow;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px #000;
}


/* Responsive Design */

@media only screen and (min-width: 1200px) and (min-height: 800px) {
    #mode{
        height: 5vw;
        width: 5vw;
        /* background-color: green; */
    }
    .second-right-main div button{
        width: 14.5vw;
    }
    .third-right-main #btn-container2 div{
        width: 14vw;
    }
    .second-right-main .box{
        width: 12vw;
        height: 13vw;
    }
    .third-right-main .project{
        width: 22vw;
        height: 30vw;
        font-size: 1.1vw;
    }
    .project img{
        height: 12vw;
        width: 17vw;
    }
    .project h2{
        font-size: 2.2vw;
    }
    .first-left-main{
        width: 60%;
    }
    .skills-boxes {
        gap: 1vw;
    }
    .contact-me h1{
        font-size: 3.5vw;
    }
}
@media (min-width: 1200px) and (max-width: 1600px)  and (min-height: 800px) {

    .second-right-main div button{
        width: 17.6vw;
    }
    .third-right-main #btn-container2 div{
        width: 17.5vw;
    }
    .contact-me h1{
        font-size: 3.5vw;
    }
    .box div{
        font-size: 1.3vw;
    }
    .skills-percentage div{
        font-size: 4vw;
    }
    .first-left-main{
        width: 80%;
    }
    .second-right-main{
        width: 70%;
    }
    .box img{
        width: 40%;
    }

}
@media only screen and (min-width: 950px) and (max-width: 1999px){
    #mode{
        height: 4vw;
        width: 4vw;
        /* background-color: green; */
    }
    .second-right-main div button{
        width: 13vw;
    }
    .third-right-main #btn-container2 div{
        width: 13vw;
    }
    .second-right-main .box{
        width: 12vw;
        height: 13vw;
    }
    .third-right-main .project{
        width: 22vw;
        height: 30vw;
        font-size: 1.1vw;
    }
    .project img{
        height: 12vw;
        width: 17vw;
    }
    .project h2{
        font-size: 2.2vw;
    }
    .first-left-main{
        width: 60%;
    }
    .skills-boxes {
        gap: 1vw;
    }
    .contact-me h1{
        font-size: 3.5vw;
    }
    .contact-me h1{
        font-size: 3vw;
    }
    
}

@media (orientation: portrait) {
    #mode{
        height: 10vw;
        width: 10vw;
    }
    #mode img{
    height: 3vw;
    width: 3vw;
    }
    .first-main{
        flex-direction: column;
    }
    .first-left-main{
        width: 100%;
        height: 50%;
    }
    .first-right-main{
        width: 100%;
        height: 50%;
    }
    .second-main{
        flex-direction: column;
    }
    .second-right-main{
        width: 100%;
        min-height: 100%;
    }
    .third-main{
        flex-direction: column;
    }
    .third-left-main{
        width: 100%;
        min-height: 50%;
        display: none;
    }
    .third-right-main{
        width: 100%;
        min-height: 100%;
    }
    .fourth-main{
        flex-direction: column;
    }
    .fourth-left-main{
        width: 100vw;
        height: 100vh;
    }
    .fourth-right-main{
        width: 100vw;
        height: 100vh;
        display: none;
    }
    .btns{
        width: 100vw;
        height: 25vh;
        display: flex;
        position: absolute; 
    }
    .btns button{
        display: none;
        width: 25%;
        margin-top: 15vh;
        margin-right: 4vw;
        font-size: 4vw;
        height: 10%;
        justify-content: center;
        align-items: center;
    }
    
    .btns i{
       display: block;
       position: absolute;
       left: 70%;
    }
    .intro h1{
    text-align: center;
    display: block;
    font-size: 6vw;
    height: 8vh;
    }

    .contact-me{
        width: 40%;
    }
    .contact-me h1{
        font-size: 4.5vw;
        
    }
    .contact-me button{
        font-size: 3vw;
    }
    .slide{
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: darkcyan;
    border-bottom: 1px solid rgba(255, 255, 255, 0.587);
    display: none;
    }

    .social-account{
    height: 800%;
    width: 60%;
    gap: 5vw;
    }

    .second-right-main div button{
        width: 40vw;
        gap: 2vw;
        padding: 0 5vw;
    }

    .skills-boxes{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4vw;
        margin-left: 0;
        padding: 0 0;

    }

    .box{
        width: 25vw !important;
        height: 30vw !important;
        margin-bottom: 2vh;
        font-size: 2.5vw;
        border-radius: 10vw;
    }

    .box img{
        object-fit: cover;
        height: 25%;
        width: 30%;
    }
    .second-right-main h2{
        font-size: 8vw;
    }
    .second-right-main h1{
        font-size: 7vw;
    }
    .skills-percentage div{
        font-size: 7vw;
        padding: 6vh 3vw;
        height: 10vh;

    }

    .third-right-main #btn-container2 div{
        width: 40vw;
        gap: 2vw;
        padding: 0 5vw;
    }

    .project-container{
    width: 100%;
    height: 40%; 
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    margin-left: 3vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    }

    .project{
    height: 70vw !important;
    width: 45vw !important;
    border: 1px solid white;
    font-size: 3vw !important;
    padding: 3.5vh 1vw;
    border-radius: 3vh;
    box-shadow: 0.5vh 0.5vh 1vh rgba(255, 255, 255, 0.418);
    }

    .project img{
    height: 40% !important;
    width: 70% !important;
    }

    .project-detail h2{
    margin-top: 2vh;
    font-size: 5vw;
    text-shadow: 1px 1px 2px rgb(244, 242, 242);
    }

    .project-detail p{
        margin-top: 1vh;
        color: #732255;
        font-weight: 600;
        font-size: 2.6vw;
    }

    #h1-container h1{
        font-size: 8vw;
    }

    .fourth-left-main h2{
        font-size: 8vw;
    }

    .fourth-left-main label{
        font-size: 5vw;
    }

}




/* 1707 x 791 */
/* 100% - 1280px x 593px */